{% if section.settings.show_newsletter_form %}
  <aside class="subscribe-form">
     <h3>{{section.settings.title_newsletter | escape}}</h3>
     {% comment %}
       To maintain backwards compatibility for merchants that upgrade the theme, you can 
       use the assign newsletter_action variable to hold the Mailchimp form action url
     {% endcomment %}
     {% assign newsletter_action = "" %}
    
     {% if newsletter_action ==  blank %}
        {% form 'customer' %}
          {% if form.errors %}
              <div class="errorForm feedback">
                 {{ form.errors | default_errors }}
              </div>
           {% endif %}

           {% if form.posted_successfully? %}
              <div class="successForm feedback">
                 {{ 'layout.newsletter.confirmation' | t }}
              </div>
           {% else %}
              {% unless section.settings.newsletter_text == blank %}
                 <div class="news-sub-text">{{section.settings.newsletter_text}}</div>
              {% endunless %}
              <fieldset>
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'layout.newsletter.placeholder' | t }}" name="contact[email]" class="required email input-text" autocorrect="off" autocapitalize="off" required>
              <button type="submit" class="button" name="commit">{{ 'layout.newsletter.submit' | t }}</button>
              </fieldset>
           {% endif %}
        {% endform %}
     {% else %}
        {% comment %}Mailchimp form{% endcomment %}
        <form class="newsletter" action="{{newsletter_action}}" method="post">
           {% unless section.settings.newsletter_text == blank %}
              <p>{{ section.settings.newsletter_text | escape }}</p>
           {% endunless %}
           <fieldset>
           <input type="email" placeholder="{{ 'layout.newsletter.placeholder' | t }}" class="required email input-text" name="EMAIL">
           <button type="submit" class="button">{{ 'layout.newsletter.submit' | t }}</button>
           </fieldset>
        </form>    
     {% endif %} 
  </aside>   
{% endif %}   