<li>
  <a class="prod-th" href="{{ product.url | within:collection }}" title="{{ product.title | escape }}">
  
	{% include 'product-grid-image', img: product.featured_image %}

    <span class="product-title">
      {% if section.settings.show_vendor %}<i class="th-vendor">{{product.vendor}}</i>{% endif %}
      <span class="title">
        {{ product.title | escape }}
      </span> 
      {% include 'product-price' %}            
    </span>

    {% if product.compare_at_price > product.price %}
      {% if section.settings.show_sale_sticker %}
        <span class="sale round">{{ 'products.general.sale' | t }}</span>
      {% endif %}
    {% endif %}
  </a>
</li>