{% assign found_a_collection = false %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' or collection.handle == 'all-products' %}
   {% for c in product.collections %}
      {% if found_a_collection == false and c.handle != 'all-products' and c.handle != 'frontpage' and c.handle != 'all' %}
         {% assign found_a_collection = true %}
         {% assign coll = c %}
      {% endif %}
   {% endfor %}
{% else %}
   {% assign found_a_collection = true %}
   {% assign coll = collection %}
{% endif %}

{% if found_a_collection and coll.products.size > 1 %}
   <div id="related" data-coll="{{coll.handle}}" class="{% if section.settings.mobile_related_items %}hide-mobile{% endif %} clearfix">
      <h3>{{ section.settings.title_related | escape }}</h3>
      {% assign max_items = '' %}
      <ul class="block-grid columns4 collection-th flexbox-grid">
         {% for prd in coll.products %}
            {% if prd.handle != product.handle and max_items != '****' %}
               <li>
                  <a class="prod-th" title="{{ prd.title | escape }}" href="{{ prd.url }}">
                    
                  {% include 'product-grid-image', img: prd.featured_image %}
                    
                  <span class="product-title">
                     {% if section.settings.show_vendor %}<i>{{prd.vendor}}</i>{% endif %}
                     <span class="title">
                        {{ prd.title | escape }} 
                     </span>      
                     <span class="price{% unless prd.available %} sold-out{% endunless %}">
                        {% if prd.available %}
                           {% if prd.compare_at_price > prd.price %}
                              <del>{{prd.compare_at_price | money}}</del> {{prd.price | money}}
                           {% else %}
                              {% if prd.price_varies %}<small>{{ 'products.general.from' | t }}</small> {% endif%}{{prd.price | money}}
                           {% endif %}
                        {% else %}
                           {{ 'products.product.sold_out' | t }}
                        {% endif %}
                     </span>         
                  </span>
                  {% if section.settings.show_sale_sticker %}
                     {% if prd.compare_at_price > prd.price %}
                           <span class="sale round">{{ 'products.general.sale' | t }}</span>
                     {% endif %}
                  {% endif %}
                  </a>
               </li>
               {% capture max_items %}{{max_items}}*{% endcapture %}
            {% endif %}
         {% endfor %}
      </ul>   
   </div> 
{% endif %}