{% if section.settings.sort_enable and collection.products.size > 0 %}
  <div class="sort-selector">
    <label for="sort-by">{{'collections.sorting.title' | t}}</label> 
    <select class="sort-by" id="sort-by" data-default-sort="{{ collection.sort_by | default: collection.default_sort_by | escape }}">
      <option value="manual">{{'collections.sorting.featured' | t}}</option>
      <option value="price-ascending">{{'collections.sorting.price_ascending' | t}}</option>
      <option value="price-descending">{{'collections.sorting.price_descending' | t}}</option>
      <option value="title-ascending">{{'collections.sorting.az' | t}}</option>
      <option value="title-descending">{{'collections.sorting.za' | t}}</option>
      <option value="created-ascending">{{'collections.sorting.created_ascending' | t}}</option>
      <option value="created-descending">{{'collections.sorting.created_descending' | t}}</option>
      <option value="best-selling">{{'collections.sorting.best_selling' | t}}</option>
    </select>
  </div>
{% endif %}


