<div id="customer-area">
   <!--<div class="action_link action_return note" id='return_to_store'><a href="{{ shop.url }}">Return to Store</a></div>-->
   <h2 class="pg-title">{{ 'customer.account.title' | t }}</h2>

   <p class="logout"><a class="button" href="/account/logout">{{ 'layout.customer.log_out' | t }}</a></p>

   <div id="customer-sidebar">
      <div id="customer_detail" class="group">
        <p>{{ customer.name }} <br />{{ customer.email }}</p>
         <div class="customer_address box-form">
            {{ customer.default_address | format_address }}
            <a id="view_address" href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
         </div>
      </div>
   </div>

   <div id="customer_orders">
      {% if customer.orders.size != 0 %}
         <table class="responsive-table">
            <thead>
               <tr>
                  <th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
                  <th class="date">{{ 'customer.orders.date' | t }}</th>
                  <th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
                  <th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th class="total go-right">{{ 'customer.orders.total' | t }}</th>
               </tr>
            </thead>
            <tbody>
               {% for order in customer.orders %}
               <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
                  <td><span class="status_{{ order.financial_status }}">{{ order.financial_status_label }}</span></td>
                  <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status_label }}</span></td>
                  <td class="total go-right"><span class="total money price-money">{{ order.total_price | money }}</span></td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      {% else %}
         <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}
   </div>
</div>