<div id="customer-area" class="clearfix">
  <div id="login-form" class="box-form">
    <div class="note form-success hide" id="reset-success">
      {{ 'customer.recover_password.success' | t }}
    </div>
    <div id="customer-login-form">
      <h2 class="form-header">{{ 'customer.login.title' | t }}</h2>
      {% form 'customer_login' %}
        {% if form.errors %}          
          <div class="feedback errors">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
        <p>
          <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
          <input class="input-text" type="email" value="" name="customer[email]" id="customer_email" />
        </p>
        {% if form.password_needed %}
          {% comment %}
            Customer Account Login
          {% endcomment %}
          <p>
            <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
            <input class="input-text" type="password" value="" name="customer[password]" id="customer_password" />
          </p>
          <p>
            <a href="#recover" id="recover-password">{{ 'customer.login.forgot_password' | t }}</a>
          </p>
        {% endif %}
        <p>
          <button class="button" type="submit">{{ 'customer.login.sign_in' | t }}</button>
        </p>
      {% endform %}    
    </div>

    <div id="recover-password-form" class="hide">
      <h2 class="form-header">{{ 'customer.recover_password.title' | t }}</h2>
      <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>

      {% form 'recover_customer_password' %}
        {% if form.errors %}
          <div class="errorForm feedback">
            {{ form.errors | default_errors }}
          </div>
        {% endif %}
        {% comment %}
          Add a hidden span to indicate the form was submitted succesfully.
        {% endcomment %}
        {% if form.posted_successfully? %}
          <span class="hide reset-password-success"></span>
        {% endif %}
        <p>
          <label for="recover-email">{{ 'customer.recover_password.email' | t }}</label>
          <input class="input-text" type="email" value="" name="email" id="recover-email" />
        </p>
        <p>
          <button class="button" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
          <span class="form-sub-action"> <a id="hide-password-form" href="#">{{ 'customer.recover_password.cancel' | t }}</a></span>
        </p>
      {% endform %}
    </div>   
  </div>

  <div id="login-sub" class="box-form">
    <h2 class="form-header">{{ 'customer.new_customer.title' | t }}</h2>
    <p>{{ 'customer.new_customer.subtext' | t }}</p>
    <p><a href="/account/register" class="button">{{ 'customer.new_customer.register' | t }}</a></p>
  </div>

</div>



