{%- assign max_sizes = section.settings.thumb-size | split: 'x' -%}
{%- assign maximum_width = max_sizes[0] | plus:0 -%}
{%- assign maximum_height = max_sizes[1] | plus:0 -%}

{% if section.settings.title != blank %}
  <h3>{{ section.settings.title | escape }}</h3>
{% endif %}

<ul class="block-grid columns{{section.settings.grid}} collection-th collection-list flexbox-grid" data-section-id="{{ section.id }}" data-section-type="collection-list">
  {% for block in section.blocks limit: section.blocks.size %}
    <li {{ block.shopify_attributes }}>
      {%- assign collection = collections[block.settings.collection] -%}
      {% include 'collection-grid-item' %}
    </li>
  {% endfor %}
</ul>

{% if section.blocks.size == 0 %}
  <div class="wrapper">
    <div class="rte text-center">
     {{ 'homepage.onboarding.no_content' | t }}
   </div>
  </div>
{% endif %}

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 24,
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type":       "range",
        "id": "grid",
        "label": "Collections per row",
        "min":       2,
        "max":       5,
        "step":      1,
        "default":   3
      },
      {
        "type": "select",
        "id": "thumb-size",
        "label": "Image size",
        "default": "300x300",
        "options": [
          {
            "value": "160x160",
            "label": "Small"
          },
          {
            "value": "300x300",
            "label": "Medium"
          },
          {
            "value": "500x500",
            "label": "Large"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "settings": {
          "grid": 3
        },
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{% endschema %}
