{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{%- assign max_sizes = section.settings.thumb-size | split: 'x' -%}
{%- assign maximum_width = max_sizes[0] | plus:0 -%}
{%- assign maximum_height = max_sizes[1] | plus:0 -%}

{% paginate collection.products by limit %}

{% assign show_tags = false %}
{% if section.settings.tags_enable %}
   {% if collection.tags.size > 0 %}  
      {% assign show_tags = true %}
   {% endif %}
{% endif %}

{% assign show_coll_image = false %}
{% if section.settings.show_collection_image and collection.image %}
   {% assign show_coll_image = true %}
{% endif %}

<div class="collection-wrap clearfix{% if show_tags %} show-sidebar{% endif %}" data-section-id="{{ section.id }}" data-section-type="collection-template">

   <h1 class="page-title">{{collection.title|escape}}{% if current_tags %}<small> {{ 'collections.tags.tagged_as' | t }} "{{current_tags.first | capitalize}}"</small>{% endif %}</h1>

   {% if collection.description != blank or show_coll_image %}
      <div id="collection-desc" class="clearfix{% if section.settings.mobile_hide_coll_desc %} hide-mobile{% endif %}">
        {% if show_coll_image and collection.image %}    
          {% assign img = collection.image %}
          {% capture img_id %}CollectionImage-{{ section.id }}--{{ img.id }}{% endcapture %}
          {% capture wrapper_id %}CollectionImageWrapper-{{ section.id }}--{{ img.id }}{% endcapture %}
          {%- assign img_url = img | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {%- assign image_alt = collection.title | escape -%}
          {% include 'image-style' with image: img, width: 845, height: 1024, wrapper_id: wrapper_id, img_id: img_id %}
          <div id="{{ wrapper_id }}" class="{{align}} coll-image js">
            <div style="padding-top:{{ 1 | divided_by: img.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                   class="collection-image lazyload blur-up"
                   src="{{ img | img_url: '300x300' }}"
                   data-src="{{ img_url }}"
                   data-widths="[90, 120, 150, 180, 360, 480, 600, 750, 940, 1080, 1296]"
                   data-aspectratio="{{ img.aspect_ratio }}"
                   data-sizes="auto"
                   alt="{{ image_alt }}"/>
            </div>
          </div>

          <noscript>
            <p>{{ collection.image | img_url: '1024x1024' | img_tag: image_alt }}</p>
          </noscript>
        {% endif %}           
        
        {% if collection.description != blank %}
          <div class="coll-desc">
            {{collection.description}}
          </div>
        {% endif %}
      </div>
   {% endif %}

   {% if show_tags or section.settings.sort_enable %}  
      <div class="sort-and-filter{% if section.settings.sort_enable %} show-sort{% endif %} js">
         <nav class="coll-tags show-tags clearfix">
            {% include 'sort-by' %}     
            {% if show_tags %}
               <a class="button" href="#">{{ 'collections.tags.title' | t }}</a>    
            {% endif %}
         </nav>  

         {% if show_tags and collection.products.size > 0 %}
            {% if collection.handle == "all" %}  
               {% capture coll_url %}/collections/all{% endcapture%}
            {% else %}
               {% capture coll_url %}{{collection.url}}{% endcapture%}
            {% endif %}
            <div class="tags">
               <a class="{% unless current_tags %}current{% endunless %}" href="{{coll_url}}">{{ 'collections.tags.view_all' | t }}</a>
               {% for tag in collection.all_tags %}
                  <a class="{% if current_tags contains tag %}current{% endif %}" href="{{coll_url}}/{{tag | handle}}">{{ tag }}</a>
               {% endfor %}    
            </div>
         {% endif %}   
      </div>
   {% endif %}  
  
   <div class="collection-main">   
      {% if collection.products.size < 1 %}
        <p>{{'collections.general.no_matches' | t}}</p>
      {% endif %}
      <ul class="block-grid collection-th columns{{section.settings.grid}} flexbox-grid">  
         {% for product in collection.products %}
            {% include 'product-loop' %}
         {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
         {% include 'pagination' %}
      {% endif %}
   </div>

</div>

{% endpaginate %}



{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type":       "range",
        "id":         "grid",
        "label":      "Products per row",
        "min":       2,
        "max":       5,
        "step":      1,
        "default":   3
      },
      {
        "type":       "range",
        "id":         "rows",
        "label":      "Rows per page",
        "min":       1,
        "max":       10,
        "step":      1,
        "default":   6
      },
      {
        "type": "select",
        "id": "thumb-size",
        "label": "Image size",
        "default": "300x300",
        "options": [
          {
            "value": "160x160",
            "label": "Small"
          },
          {
            "value": "300x300",
            "label": "Medium"
          },
          {
            "value": "500x500",
            "label": "Large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_sale_sticker",
        "label": "Show sale sticker",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "mobile_hide_coll_desc",
        "label": "Hide collection description on mobile"
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable tag filtering",
        "default": true
      },
     {
        "type": "header",
        "content": "Collection image"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "select",
        "id": "collection_image_align",
        "label": "Alignment",
        "default": "align-left",
        "options": [
          {
            "value": "align-none",
            "label": "Top"
          },
          {
            "value": "align-left",
            "label": "Left"
          },
          {
            "value": "align-right",
            "label": "Right"
          }
        ]
      }
    ]
  }
{% endschema %}