{%- assign max_sizes = section.settings.thumb-size | split: 'x' -%}
{%- assign maximum_width = max_sizes[0] | plus:0 -%}
{%- assign maximum_height = max_sizes[1] | plus:0 -%}

{% if section.settings.title != blank %}
  <h3>{{ section.settings.title | escape }}</h3>
{% endif %}

{%- assign collection = collections[section.settings.collection] -%}
{%- capture image_size -%}{{section.settings.thumb-size}}{%- endcapture -%}
{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<ul class="block-grid columns{{section.settings.grid}} collection-th flexbox-grid" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {% for product in collection.products limit: product_limit %}
    {% include 'product-loop', grid_image_width: image_size %}
  {% else %}
    {% for i in (1..product_limit) %}
      <li>
        <a href="#" class="prod-th">
          <span class="thumbnail">
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
          </span>       

          <span class="product-title">
            <span class="title">
              {{ 'homepage.onboarding.product_title' | t }}
            </span>
            {% include 'product-price' %}
          </span>
        </a>
      </li>
    {% endfor %}
  {% endfor %}
</ul>


{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "thumb-size",
        "label": "Image size",
        "default": "300x300",
        "options": [
          {
            "value": "160x160",
            "label": "Small"
          },
          {
            "value": "300x300",
            "label": "Medium"
          },
          {
            "value": "500x500",
            "label": "Large"
          }
        ]
      },
      {
        "type":       "range",
        "id":         "grid",
        "label":      "Products per row",
        "min":       2,
        "max":       5,
        "step":      1,
        "default":   5
      },
      {
        "type":       "range",
        "id":         "rows",
        "label":      "Rows",
        "min":       1,
        "max":       5,
        "step":      1,
        "default":   2
      },
      {
        "type": "checkbox",
        "id": "show_sale_sticker",
        "label": "Show sale sticker",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
