<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  {% for block in section.blocks %}
    <div class="wrapper" {{ block.shopify_attributes }}>
          <div{% unless block.type == 'page' %} style="font-size:{{block.settings.welcome_text_size}}px;"{% endunless %} class="rte{% if section.settings.align_center %} text-center{% endif%}">
            {% if section.settings.title != blank %}
              <h3>{{ section.settings.title | escape }}</h3>
            {% endif %}            
            {% case block.type %}
              {% when 'page' %}
                {% if block.settings.home_page_content != blank %}
                  {{ pages[block.settings.home_page_content].content }}
                {% else %}
                  {{ 'homepage.onboarding.no_content' | t }}
                {% endif %}
              {% when 'text' %}
                {% if block.settings.home_page_richtext != blank %}
                  {{ block.settings.home_page_richtext }}
                {% else %}
                  {{ 'homepage.onboarding.no_content' | t }}
                {% endif %}
              {% else %}
            {% endcase %}
          </div>
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="wrapper">
          <div style="font-size:20px;" class="rte text-center">
            {{ 'homepage.onboarding.no_content' | t }}
          </div>
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Rich text",
    "class": "featured-content",
    "max_blocks": 2,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "checkbox",
        "id": "align_center",
        "label": "Align center",
        "default": true
      }
    ],
    "presets": [{
      "name": "Rich text",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }],
    "blocks" : [
      {
        "type": "text",
        "name": "Rich text",
        "settings": [
          {
            "id": "home_page_richtext",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
          {
           "type":      "range",
           "id":        "welcome_text_size",
           "min":       12,
           "max":       32,
           "step":      1,
           "unit":      "px",
           "label": "Font size",
           "default":   20
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "home_page_content",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ]
  }
{% endschema %}

