<header class="header">
  <h1 class="logo">
  {% if section.settings.logo %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
       <img src="{{ section.settings.logo | img_url: image_size }}"
       srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
       alt="{{ section.settings.logo.alt | default: shop.name }}"
       itemprop="logo">
  {% else %}
    {{shop.name}}
  {% endif %}
  </h1>
  <div class="show-login">
    <a href="#"><i class="fa fa-lock"></i> {{ 'general.password_page.password_link' | t }}</a>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "250"
      }
    ]
  }
{% endschema %}
