{% capture button %}<button class="dropdown-toggle" aria-expanded="false"><span class="screen-reader-text">Expand child menu</span></button>{% endcapture%}
<style>
  #side-menu a.newfont{font-size:{{section.settings.side_menu_font_size}}px;}
</style>
<section role="complementary" id="sidebar" data-menuchosen="{{section.settings.sidebar_linklist}}" data-section-id="{{ section.id }}" data-section-type="sidebar" data-keep-open="{{section.settings.keep_menu_open}}">
  <nav id="menu" role="navigation" aria-labelledby="Side menu">
    <form role="search" method="get" action="/search" class="search-form">
      <fieldset>
      <input type="text" placeholder="{{ 'general.search.placeholder' | t }}" name="q" id="search-input">
      <button type="submit" class="button">{{ 'general.search.submit' | t }}</button>
      </fieldset>
    </form>          

    <ul id="side-menu">
    {% include 'sidebar-nav' %}          
    {% if section.settings.show_tags_menu %}
      <li class="has-sub shop-by-tag">
        <a href="/collections/all" class="top-link newfont"><span>{{ section.settings.title_shop_by_tag | escape }}</span>{{button}}</a>
      <ul id="search-tags">
        {% if collections.all-products.tags.size > 0 %}
          <li>
          {% for tag in collections.all-products.tags %}
            <a class="tag" href="/collections/all-products/{{ tag | handleize }}">{{ tag }}</a>
          {% endfor %}
          </li>
        {% else %}
          <li class="instructions">
          <p>{{ 'layout.sidebar.onboarding_html' | t }}</p>
          </li>            
        {% endif %}           
      </ul>
      </li>
    {% endif %}         

    {% if section.settings.show_latest_posts_menu %}
      {%- capture 'blogHandle' -%}{{section.settings.latest_blog}}{%- endcapture -%}
      <li class="has-sub latest-posts">
        <a href="{{blogs[blogHandle].url}}" class="top-link newfont">{{ section.settings.title_latest_posts | escape }}{{button}}</a>
        <ul id="side-posts">
          {% if blogs[blogHandle].articles.size > 0 %}
            {% for article in blogs[blogHandle].articles limit:5 %}
              <li>
                <a class="article-link" href="{{ article.url }}">
                  <strong>{{ article.title | escape }}</strong>
                  <span>{{article.content | strip_html | truncatewords:15}}</span>
                </a>
              </li>
            {% endfor %}
          {% else %}
            {% for i in (1..5) %}
              <li>
                <a class="article-link" href="#">
                  <strong>{{ 'homepage.onboarding.blog_title' | t }}</strong>
                  <span>{{ 'homepage.onboarding.blog_excerpt' | t }}</span>
                </a>                           
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </li>
    {% endif %}

    </ul>         
  </nav>

  {% if section.settings.show_social %}
    <aside class="social-links">
      <h3>{{ section.settings.title_stay_in_touch | escape}}</h3>
      {% if settings.twitter_link != blank %} <a class="social-twitter" href="{{settings.twitter_link}}" title="Twitter">{% include 'icon-twitter' %}</a>{% endif %}
      {% if settings.facebook_link != blank %}<a class="social-facebook" href="{{settings.facebook_link}}" title="Facebook">{% include 'icon-facebook' %}</a>{% endif %}          
      {% if settings.pinterest_link != blank %}<a class="social-pinterest" href="{{settings.pinterest_link}}" title="Pinterest">{% include 'icon-pinterest' %}</a>{% endif %}                              
      {% if settings.youtube_link != blank %}<a class="social-youtube" href="{{settings.youtube_link}}" title="Youtube">{% include 'icon-youtube' %}</a>{% endif %}            
      {% if settings.vimeo_link != blank %}<a class="social-vimeo" href="{{settings.vimeo_link}}" title="Vimeo">{% include 'icon-vimeo' %}</a>{% endif %}          
      {% if settings.gplus_link != blank %}<a class="social-googleplus" href="{{settings.gplus_link}}" title="Google +">{% include 'icon-googleplus' %}</a>{% endif %}            
      {% if settings.instagram_link != blank %}<a class="social-instagram" href="{{settings.instagram_link}}" title="Instagram">{% include 'icon-instagram' %}</a>{% endif %}              
      {% if settings.linkedin_link != blank %}<a class="social-linkedin" href="{{settings.linkedin_link}}" title="LinkedIn">{% include 'icon-linkedin' %}</a>{% endif %}           
      {% if settings.snapchat_link != blank %}<a class="social-snapchat" href="{{settings.snapchat_link}}" title="Snapchat">{% include 'icon-snapchat' %}</a>{% endif %}                 
      {% if settings.tumblr_link != blank %}<a class="social-tumblr" href="{{settings.tumblr_link}}" title="Tumblr">{% include 'icon-tumblr' %}</a>{% endif %}  
    </aside>
  {% endif %}

  {% include 'newsletter' %}

  {% if section.settings.show_popular %} 
    {%- capture 'popProducts' -%}{{section.settings.popular_collection}}{%- endcapture -%}
    <aside class="top-sellers">
      <h3>{{ section.settings.title_popular_products | escape}}</h3>
      <ul>
        {% if collections[popProducts].products.size > 0 %}
          {% for product in collections[popProducts].products limit:section.settings.number_pop_products %}
            <li>
              <a href="{{ product.url }}" title="{{ product.title | escape }}">
                {% assign image = product.images.first | product_img_url: '60x60', scale: 2 %}
                 <span class="small-thumb">
                  <img class="thumb-image lazyload blur-up js" data-src="{{ image }}" alt="{{ product.title | escape }}" />
                  <noscript>
        		    <img class="thumb-image" src="{{ image }}" alt="{{ image.alt }}" />
      			  </noscript>
                </span>
                <span class="top-title">
                  {{ product.title | escape }}
                  <i>
                    {% if product.available %}
                      {% if product.compare_at_price > product.price %}
                        <del><span class=price-money>{{product.compare_at_price | money}}</span></del> <span class=price-money>{{product.price | money}}</span>
                      {% else %}
                        {% if product.price_varies %}<small>{{ 'products.general.from' | t }}</small> {% endif %}<span class=price-money>{{product.price | money}}</span>
                      {% endif %}
                    {% else %}
                      {{ 'products.product.out_of_stock_msg' | t }}
                    {% endif %}            
                  </i>
                </span>
              </a>
            </li>
          {% endfor %}
        {% else %}
          {% for i in (1..section.settings.number_pop_products) %}
            <li>
              <a href="#">
                <span class="th-popular">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </span> 
                <span class="top-title">
                  {{ 'homepage.onboarding.product_title' | t }}      
                  <i>
                    {% include 'product-price' %}
                  </i>
                </span>
              </a>
            </li>
          {% endfor %}
        {% endif %}      
      </ul>
    </aside>
  {% endif %}   
</section>          

{% schema %}
  {
    "name": "Sidebar",
    "settings": [
     {
        "type": "header",
        "content": "Menu"
      },
      {
        "type": "link_list",
        "id": "sidebar_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "keep_menu_open",
        "label": "Keep menu open",
        "default": true,
        "info": "Will keep the menu section open when a link is clicked in that section"
      },
      {
        "type":      "range",
        "id":        "side_menu_font_size",
        "min":       12,
        "max":       22,
        "step":      1,
        "unit":      "px",
        "label": "Font size",
        "default":   20
     },
     {
        "type": "header",
        "content": "Social icons"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show in sidebar",
        "default": true
      },
      {
        "type": "text",
        "id": "title_stay_in_touch",
        "label": "Heading",
        "default": "Stay in touch"
      },
     {
        "type": "header",
        "content": "Newsletter form"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter_form",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title_newsletter",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter_text",
        "label": "Subheading",
        "default": "<p>Sign up to our newsletter for the latest news and special offers.</p>"
      },
      {
        "type": "header",
        "content": "Shop by tag"
      },
      {
        "type": "checkbox",
        "id": "show_tags_menu",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title_shop_by_tag",
        "label": "Heading",
        "default": "Shop by tag"
      },
      {
        "type": "header",
        "content": "Latest posts"
      },
      {
        "type": "checkbox",
        "id": "show_latest_posts_menu",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title_latest_posts",
        "label": "Heading",
        "default": "Latest posts"
      },
      {
        "type": "blog",
        "id": "latest_blog",
        "label": "Select blog"
      },
      {
        "type": "header",
        "content": "Popular products"
      },
      {
        "type": "checkbox",
        "id": "show_popular",
        "label": "Enable",
        "default": true
      },
      {
        "type": "text",
        "id": "title_popular_products",
        "label": "Heading",
        "default": "Popular products"
      },
      {
        "type": "collection",
        "id": "popular_collection",
        "label": "Select collection"
      },
      {
        "type":      "range",
        "id": "number_pop_products",
        "label": "Number to display",
        "min":       5,
        "max":       20,
        "step":      5,
        "default":   5
      }
]
  }
{% endschema %}

