{%- capture sliderID -%}slider-{{ section.id }}{%- endcapture -%}

<div id="{{sliderID}}" class="slideshow{% if section.settings.mobile_hide_slideshow %} hide-mobile{% endif %}" data-section-id="{{ section.id }}" data-section-type="slideshow" data-speed="{{section.settings.slideshow_speed | times: 1000}}" data-autoplay="{{section.settings.auto_scroll}}" data-transition="{{section.settings.slide_trans}}" data-arrow-left="{% include 'icon-arrowleft'%}" data-arrow-right="{% include 'icon-arrowright'%}">
  <div class="slides owl-carousel">
    {% for block in section.blocks %}
      {% if block.settings.image == blank %}
        {% capture imagesrc %}<div class="placeholder-background">{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>{% endcapture %}
      {% else %}
        {% assign image = block.settings.image %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        {% capture imagesrc %}<img id=""
        class="lazyload slide-image blur-up js"
        src="{{ image | img_url: '300x300' }}"
        data-src="{{ img_url }}"
        data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ image.alt | escape }}" />
        {% endcapture %}  
      {% endif %}
      <div class="slide{% if forloop.first %} first-slide{% endif %} sl-{{forloop.index}} slide--{{ block.id }}" data-index="{{forloop.index0}}" {{ block.shopify_attributes }}>
        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}">
        {% endif %}
        {{imagesrc}}
        <noscript>
        {% if block.settings.image %}
          <img src="{{ image | img_url: '1024x' }}" alt="{{image.alt}}" />
        {% else %}
          <div class="placeholder-background">{{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}</div>
        {% endif %}
        </noscript>
        {% if block.settings.caption != blank or block.settings.sub_caption != blank %}
            <span class="caption">{% unless block.settings.caption == blank %}<strong>{{block.settings.caption | escape}}</strong>{% endunless %}{{ block.settings.sub_caption | escape }}</span>
        {% endif %} 
        {% if block.settings.link != blank %}
          </a>
        {% endif %}  
      </div>
    {% endfor %}
  </div>
</div>

{% if section.blocks.size == 0 %}
  <div class="placeholder-noblocks">
    {{ 'homepage.onboarding.no_content' | t }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 4,
  "settings": [
      {
        "type":      "range",
        "id": "slideshow_speed",
        "label": "Rotation interval (seconds)",
        "min":       3,
        "max":       10,
        "step":      1,
        "default":   7
      },
      {
        "type": "select",
        "id": "slide_trans",
        "label": "Slide transition",
        "options": [
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "backSlide",
            "label": "Back slide"
          },
          {
            "value": "goDown",
            "label": "Go down"
          },
          {
            "value": "fadeUp",
            "label": "Fade up"
          }
        ],
        "default": "backSlide"
      },
      {
        "type": "checkbox",
        "id": "auto_scroll",
        "label": "Autoplay slideshow",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "mobile_hide_slideshow",
        "label": "Hide on mobile devices",
        "default": false
      }
   ],
      "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub_caption",
          "label": "Subheading"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Slide link"
        }
      ]
    }
  ],
 "presets": [{
    "name": "Slideshow",
    "category": "Image",
    "settings": {
      "auto_scroll": true,
      "slideshow_speed": 5,
      "slide_trans": "backSlide"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}