<div class="inner-wrap">
   <h1 class="page-title">{{page.title}}</h1>

   <div class="contact-us page-wrap clearfix">
      <div class="page-main">
         {{ page.content }}
      </div>  
      <div class="page-sub">  
         {% form 'contact' %}
            {% if form.posted_successfully? %}
               <div class="successForm feedback">
                  <p>{{ 'contact.form.post_success' | t }}</p>
               </div>
            {% endif %}
            {% if form.errors %}
               <div class="errorForm feedback">
                  {{ form.errors | default_errors }}
               </div>
            {% endif %}
               <div id="contactFormWrapper">
                  <p>
                     <label>{{ 'contact.form.name' | t }}</label><br/>
                     <input type="text" id="contactFormName" name="contact[name]" placeholder="" />
                  </p>
                  <p>
                     <label>{{'contact.form.email' | t }}</label><br/>
                     <input type="email" id="contactFormEmail" name="contact[email]" placeholder="" />
                  </p>
                  <p>
                     <label>{{'contact.form.phone' | t }}</label><br/>
                     <input type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="" />
                  </p> 
                  <p>
                     <label>{{'contact.form.message' | t }}</label><br/>
                     <textarea rows="10" cols="" id="contactFormMessage" name="contact[body]" placeholder=""></textarea>
                  </p>
                  <p>
                     <button type="submit" class="button">{{ 'contact.form.send' | t }}</button>
                  </p>           
               </div>
         {% endform %}  
      </div>
   </div>
</div>